/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* highlights active item in navbar */
nav a.active{
  border-bottom: 5px solid #333;
  transition: all ease 0.5s;
}
/* highlights hovered item, and ensures that the user knows that the item is intuitively clickable */
.hoverable:hover{
  cursor: pointer;
} 
/* full width button */
.fwbtn > .btn{
  width: 100%;
}